html{
  height: 100%;
}
body {
  font-size: 14px;
  color: #555;
  font-family: 'Muli', Arial, sans-serif;
  height: 100%;
}
#app {
    height: 100%;
    background-color: #f5f7f9;
    .container{
      height: 100%;
    }
    .side-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        // border-right: 1px solid #e6e6e6;
        background-color: #ffffff;
        z-index: 999;
    }
    .main-container{
      position: relative;
      width: 100%;
      min-height: 100%;
      padding-left: 200px;
      background-color: #fff;
      padding-bottom: 40px;
    }
    .app-container{
      background-color: #fff;
    }
}